.new-releases {
    .header {
        margin-left: 14px;
        margin: 20px;
        padding-bottom: 15px;
        width: 121px;
    }
    
    .header .title {
        font-size: 14px;
        font-weight: normal;
        letter-spacing: 1px;
        margin: 0;
    }
    &.automargin {
        margin: 0 auto;
    }
    
    .image-list {
        margin-left: 15px;
        display: flex;
        overflow-y: scroll;
    }
    
    .image-list .image-card {
        margin-right: 20px;
        text-decoration: none;
    }
    
    .image-list .image-card img{
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        border-radius: 7px;
    }
    /* .image-list a.image-card img:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      } */
    
    .image-list .image-card h4{
        margin: 0;
        margin-top: 20px;
        margin-left: 10px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
    }    
}
