<div fxFlex.gt-xs="66"  ngClass.gt-xs="automargin" class="new-releases">
  <div class="header">
    <h3 class="title">Newly Released</h3>
</div>
<div class="image-list" >
  <div class="image-card">
    <a href="">
      <img  src="https://dummyimage.com/160x100/000/fff.jpg" alt="">
    </a>
    <h4>Baahubali</h4>
  </div>
  <a class="image-card" href="hello">
    <img src="https://dummyimage.com/160x100/000/fff.jpg" alt="">
    <h4>Baahubali</h4>
  </a>
  <a class="image-card" href="hello">
    <img src="https://dummyimage.com/160x100/000/fff.jpg" alt="">
    <h4>Baahubali</h4>
  </a>
</div>
</div>
