<div class="header">
    <h3 class="title">New Releases</h3>
  </div>
  <div class="image-list" >
    <div class="image-card">
      <a href="">
        <img  src="https://dummyimage.com/150x95/fab9fa/000ed4.jpg" alt="">
      </a>
      <h4>Baahubali</h4>
    </div>
    <a class="image-card" href="hello">
      <img src="https://dummyimage.com/150x95/fab9fa/000ed4.jpg" alt="">
      <h4>Baahubali</h4>
    </a>
    <a class="image-card" href="hello">
      <img src="https://dummyimage.com/150x95/fab9fa/000ed4.jpg" alt="">
      <h4>Baahubali</h4>
    </a>
  </div>