<div class="gt-xs-hide">
<mat-toolbar  color="primary" class="mat-elevation-z6" aria-hidden="false" aria-label="Example heart icon">
    <mat-toolbar-row>
        <span>lyrk</span>
        <span class="example-spacer"></span>
        <button mat-icon-button>
            <mat-icon  class="example-icon" aria-hidden="false" aria-label="Example heart icon">format_color_fill</mat-icon>
        </button>
        <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon" (click)="onSearch()">search</mat-icon> -->
    </mat-toolbar-row>
</mat-toolbar>
</div>
