

.lyric-details {
    .content {
        margin: 40px 40px;
        /* width: 286px; */
        height: 343px;
        border-radius: 40px;
        overflow: scroll;
        text-overflow: clip;
        padding: 20px;
        font-size: 22px;
        text-align: center;
    }
    .favoriteicon {
        display: block;
        position: relative;
        bottom: 70px;
        margin: 0 auto;
    }
    .example-section {
        margin: 0 40px;
    }
    .header {
        display: flex;
        margin: 40px 40px;
        align-items: center;
        .heading {
            margin-left: 42px;
            flex: 1 0 auto;
            .main {
                font-size: 16px;
            }
            .subtitle {
                font-size: 14px;
            }
        }
    }
}