.Navigation_Drawer___Elements___A1_Group_28_Class {
    opacity: 1;
    position: absolute;
    width: 360px;
    height: 77px;
    left: 0px;
    top: 564px;
    overflow: visible;
}
.Box_A1_Rectangle_29_Class {
    opacity: 1;
    filter: drop-shadow(6px 3px 40px rgba(0, 0, 0, 0.161));
    fill: rgba(255,255,255,1);
}
.Box_A1_Rectangle_29 {
    position: absolute;
    overflow: visible;
    width: 480px;
    height: 197px;
    left: 0px;
    top: 0px;
}
.Divider_A1_Rectangle_30_Class {
    opacity: 0.1;
    fill: rgba(0,0,0,1);
}
.Divider_A1_Rectangle_30 {
    position: absolute;
    overflow: visible;
    width: 360px;
    height: 1px;
    left: 0px;
    top: 76px;
}
.Headline_6_A1_Text_18_Class {
    opacity: 1;
    position: absolute;
    left: 80px;
    top: 19px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 170px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0,0,0,0.6);
}
.Body_2_A1_Text_19_Class {
    opacity: 1;
    position: absolute;
    left: 80px;
    top: 43px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 149px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.17px;
}
.Images___11___Corners_Class {
    opacity: 1;
    position: absolute;
    width: 72px;
    height: 64px;
    left: 0px;
    top: 3px;
    overflow: visible;
}
.Box_A1_Rectangle_31_Class {
    opacity: 1;
    fill: transparent;
}
.Box_A1_Rectangle_31 {
    position: absolute;
    overflow: visible;
    width: 72px;
    height: 64px;
    left: 0px;
    top: 0px;
}
.Image_A1_Rectangle_32_Class {
    opacity: 1;
    fill: url(#Image_A1_Rectangle_33_pattern);
}
.Image_A1_Rectangle_32 {
    position: absolute;
    overflow: visible;
    width: 40px;
    height: 40px;
    left: 16px;
    top: 12px;
}