<div class="Navigation_Drawer___Elements___A1_Group_28_Class">
  <svg class="Box_A1_Rectangle_29">
    <rect class="Box_A1_Rectangle_29_Class" rx="0" ry="0" x="0" y="0" width="360" height="77">
    </rect>
  </svg>
  <svg class="Divider_A1_Rectangle_30">
    <rect class="Divider_A1_Rectangle_30_Class" rx="0" ry="0" x="0" y="0" width="360" height="1">
    </rect>
  </svg>
  <div class="Headline_6_A1_Text_18_Class">
    <span>Saahore Baahubali - Telugu<br/></span>
  </div>
  <div class="Body_2_A1_Text_19_Class">
    <span>Baahubali - The conclusion</span>
  </div>
  <div class="Images___11___Corners_Class">
    <svg class="Box_A1_Rectangle_31">
      <rect class="Box_A1_Rectangle_31_Class" rx="0" ry="0" x="0" y="0" width="72" height="64">
      </rect>
    </svg>
    <svg class="Image_A1_Rectangle_32">
      <pattern elementId="Image_A1_Rectangle_33" id="Image_A1_Rectangle_33_pattern" x="0" y="0" width="100%" height="100%">
        <image x="0" y="0" width="100%" height="100%" href="Image_A1_Rectangle_33_pattern.png" xlink:href="Image_A1_Rectangle_33_pattern.png"></image>
      </pattern>
      <rect class="Image_A1_Rectangle_32_Class" rx="4" ry="4" x="0" y="0" width="40" height="40">
      </rect>
    </svg>
  </div>
</div>