#All_Movies * {
    margin: 0;
    padding: 0;
}
#All_Movies {
    position: absolute;
    box-sizing: border-box;
    background: #E5E5E5;
    width: 100%;
    height: 1052.5999755859375px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    margin: 0;
    padding: 0;
    opacity: 1;
    --web-view-name: All Movies;
    --web-view-id: All_Movies;
    --web-enable-deep-linking: true;
}
#Repeat_Grid_1 {
    opacity: 1;
    position: absolute;
    width: 347.932px;
    height: 967.6px;
    left: 12.034px;
    top: 95px;
    overflow: hidden;
}
#Repeat_Grid_1_0 {
    opacity: 1;
    position: absolute;
    width: 150px;
    height: 136.6px;
    left: 4.5px;
    top: 3.5px;
    overflow: visible;
}
#Surface {
    opacity: 1;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
    fill: rgba(255,255,255,1);
}
.Surface {
    position: absolute;
    overflow: visible;
    width: 159px;
    height: 102.75px;
    left: 0px;
    top: 0px;
}
#Body_2 {
    opacity: 1;
    position: absolute;
    width: 37px;
    height: 14px;
    left: 19px;
    top: 122.6px;
    overflow: visible;
}
#Body_2_A0_Text_1 {
    opacity: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 38px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.17px;
}
#Image {
    opacity: 1;
    fill: url(#Image_A0_Path_2_pattern);
}
.Image {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 93.75px;
}
#Repeat_Grid_1_1 {
    opacity: 1;
    position: absolute;
    width: 150px;
    height: 136.6px;
    left: 184.5px;
    top: 3.5px;
    overflow: visible;
}
#Surface_A0_Rectangle_2 {
    opacity: 1;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
    fill: rgba(255,255,255,1);
}
.Surface_A0_Rectangle_2 {
    position: absolute;
    overflow: visible;
    width: 159px;
    height: 102.75px;
    left: 0px;
    top: 0px;
}
#Body_2_A0_Group_4 {
    opacity: 1;
    position: absolute;
    width: 37px;
    height: 14px;
    left: 19px;
    top: 122.6px;
    overflow: visible;
}
#Body_2_A0_Text_2 {
    opacity: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 38px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.17px;
}
#Image_A0_Path_3 {
    opacity: 1;
    fill: url(#Image_A0_Path_4_pattern);
}
.Image_A0_Path_3 {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 93.75px;
}
#Repeat_Grid_1_2 {
    opacity: 1;
    position: absolute;
    width: 150px;
    height: 136.6px;
    left: 4.5px;
    top: 164.5px;
    overflow: visible;
}
#Surface_A0_Rectangle_3 {
    opacity: 1;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
    fill: rgba(255,255,255,1);
}
.Surface_A0_Rectangle_3 {
    position: absolute;
    overflow: visible;
    width: 159px;
    height: 102.75px;
    left: 0px;
    top: 0px;
}
#Body_2_A0_Group_6 {
    opacity: 1;
    position: absolute;
    width: 37px;
    height: 14px;
    left: 19px;
    top: 122.6px;
    overflow: visible;
}
#Body_2_A0_Text_3 {
    opacity: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 38px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.17px;
}
#Image_A0_Path_5 {
    opacity: 1;
    fill: url(#Image_A0_Path_6_pattern);
}
.Image_A0_Path_5 {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 93.75px;
}
#Repeat_Grid_1_3 {
    opacity: 1;
    position: absolute;
    width: 150px;
    height: 136.6px;
    left: 184.5px;
    top: 164.5px;
    overflow: visible;
}
#Surface_A0_Rectangle_4 {
    opacity: 1;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
    fill: rgba(255,255,255,1);
}
.Surface_A0_Rectangle_4 {
    position: absolute;
    overflow: visible;
    width: 159px;
    height: 102.75px;
    left: 0px;
    top: 0px;
}
#Body_2_A0_Group_8 {
    opacity: 1;
    position: absolute;
    width: 37px;
    height: 14px;
    left: 19px;
    top: 122.6px;
    overflow: visible;
}
#Body_2_A0_Text_4 {
    opacity: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 38px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.17px;
}
#Image_A0_Path_7 {
    opacity: 1;
    fill: url(#Image_A0_Path_8_pattern);
}
.Image_A0_Path_7 {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 93.75px;
}
#Repeat_Grid_1_4 {
    opacity: 1;
    position: absolute;
    width: 150px;
    height: 136.6px;
    left: 4.5px;
    top: 325.5px;
    overflow: visible;
}
#Surface_A0_Rectangle_5 {
    opacity: 1;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
    fill: rgba(255,255,255,1);
}
.Surface_A0_Rectangle_5 {
    position: absolute;
    overflow: visible;
    width: 159px;
    height: 102.75px;
    left: 0px;
    top: 0px;
}
#Body_2_A0_Group_10 {
    opacity: 1;
    position: absolute;
    width: 37px;
    height: 14px;
    left: 19px;
    top: 122.6px;
    overflow: visible;
}
#Body_2_A0_Text_5 {
    opacity: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 38px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.17px;
}
#Image_A0_Path_9 {
    opacity: 1;
    fill: url(#Image_A0_Path_10_pattern);
}
.Image_A0_Path_9 {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 93.75px;
}
#Repeat_Grid_1_5 {
    opacity: 1;
    position: absolute;
    width: 150px;
    height: 136.6px;
    left: 184.5px;
    top: 325.5px;
    overflow: visible;
}
#Surface_A0_Rectangle_6 {
    opacity: 1;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
    fill: rgba(255,255,255,1);
}
.Surface_A0_Rectangle_6 {
    position: absolute;
    overflow: visible;
    width: 159px;
    height: 102.75px;
    left: 0px;
    top: 0px;
}
#Body_2_A0_Group_12 {
    opacity: 1;
    position: absolute;
    width: 37px;
    height: 14px;
    left: 19px;
    top: 122.6px;
    overflow: visible;
}
#Body_2_A0_Text_6 {
    opacity: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 38px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.17px;
}
#Image_A0_Path_11 {
    opacity: 1;
    fill: url(#Image_A0_Path_12_pattern);
}
.Image_A0_Path_11 {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 93.75px;
}
#Repeat_Grid_1_6 {
    opacity: 1;
    position: absolute;
    width: 150px;
    height: 136.6px;
    left: 4.5px;
    top: 486.5px;
    overflow: visible;
}
#Surface_A0_Rectangle_7 {
    opacity: 1;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
    fill: rgba(255,255,255,1);
}
.Surface_A0_Rectangle_7 {
    position: absolute;
    overflow: visible;
    width: 159px;
    height: 102.75px;
    left: 0px;
    top: 0px;
}
#Body_2_A0_Group_14 {
    opacity: 1;
    position: absolute;
    width: 37px;
    height: 14px;
    left: 19px;
    top: 122.6px;
    overflow: visible;
}
#Body_2_A0_Text_7 {
    opacity: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 38px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.17px;
}
#Image_A0_Path_13 {
    opacity: 1;
    fill: url(#Image_A0_Path_14_pattern);
}
.Image_A0_Path_13 {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 93.75px;
}
#Repeat_Grid_1_7 {
    opacity: 1;
    position: absolute;
    width: 150px;
    height: 136.6px;
    left: 184.5px;
    top: 486.5px;
    overflow: visible;
}
#Surface_A0_Rectangle_8 {
    opacity: 1;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
    fill: rgba(255,255,255,1);
}
.Surface_A0_Rectangle_8 {
    position: absolute;
    overflow: visible;
    width: 159px;
    height: 102.75px;
    left: 0px;
    top: 0px;
}
#Body_2_A0_Group_16 {
    opacity: 1;
    position: absolute;
    width: 37px;
    height: 14px;
    left: 19px;
    top: 122.6px;
    overflow: visible;
}
#Body_2_A0_Text_8 {
    opacity: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 38px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.17px;
}
#Image_A0_Path_15 {
    opacity: 1;
    fill: url(#Image_A0_Path_16_pattern);
}
.Image_A0_Path_15 {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 93.75px;
}
#Repeat_Grid_1_8 {
    opacity: 1;
    position: absolute;
    width: 150px;
    height: 136.6px;
    left: 4.5px;
    top: 647.5px;
    overflow: visible;
}
#Surface_A0_Rectangle_9 {
    opacity: 1;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
    fill: rgba(255,255,255,1);
}
.Surface_A0_Rectangle_9 {
    position: absolute;
    overflow: visible;
    width: 159px;
    height: 102.75px;
    left: 0px;
    top: 0px;
}
#Body_2_A0_Group_18 {
    opacity: 1;
    position: absolute;
    width: 37px;
    height: 14px;
    left: 19px;
    top: 122.6px;
    overflow: visible;
}
#Body_2_A0_Text_9 {
    opacity: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 38px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.17px;
}
#Image_A0_Path_17 {
    opacity: 1;
    fill: url(#Image_A0_Path_18_pattern);
}
.Image_A0_Path_17 {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 93.75px;
}
#Repeat_Grid_1_9 {
    opacity: 1;
    position: absolute;
    width: 150px;
    height: 136.6px;
    left: 184.5px;
    top: 647.5px;
    overflow: visible;
}
#Surface_A0_Rectangle_10 {
    opacity: 1;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
    fill: rgba(255,255,255,1);
}
.Surface_A0_Rectangle_10 {
    position: absolute;
    overflow: visible;
    width: 159px;
    height: 102.75px;
    left: 0px;
    top: 0px;
}
#Body_2_A0_Group_20 {
    opacity: 1;
    position: absolute;
    width: 37px;
    height: 14px;
    left: 19px;
    top: 122.6px;
    overflow: visible;
}
#Body_2_A0_Text_10 {
    opacity: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 38px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.17px;
}
#Image_A0_Path_19 {
    opacity: 1;
    fill: url(#Image_A0_Path_20_pattern);
}
.Image_A0_Path_19 {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 93.75px;
}
#Repeat_Grid_1_10 {
    opacity: 1;
    position: absolute;
    width: 150px;
    height: 136.6px;
    left: 4.5px;
    top: 808.5px;
    overflow: visible;
}
#Surface_A0_Rectangle_11 {
    opacity: 1;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
    fill: rgba(255,255,255,1);
}
.Surface_A0_Rectangle_11 {
    position: absolute;
    overflow: visible;
    width: 159px;
    height: 102.75px;
    left: 0px;
    top: 0px;
}
#Body_2_A0_Group_22 {
    opacity: 1;
    position: absolute;
    width: 37px;
    height: 14px;
    left: 19px;
    top: 122.6px;
    overflow: visible;
}
#Body_2_A0_Text_11 {
    opacity: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 38px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.17px;
}
#Image_A0_Path_21 {
    opacity: 1;
    fill: url(#Image_A0_Path_22_pattern);
}
.Image_A0_Path_21 {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 93.75px;
}
#Repeat_Grid_1_11 {
    opacity: 1;
    position: absolute;
    width: 150px;
    height: 136.6px;
    left: 184.5px;
    top: 808.5px;
    overflow: visible;
}
#Surface_A0_Rectangle_12 {
    opacity: 1;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
    fill: rgba(255,255,255,1);
}
.Surface_A0_Rectangle_12 {
    position: absolute;
    overflow: visible;
    width: 159px;
    height: 102.75px;
    left: 0px;
    top: 0px;
}
#Body_2_A0_Group_24 {
    opacity: 1;
    position: absolute;
    width: 37px;
    height: 14px;
    left: 19px;
    top: 122.6px;
    overflow: visible;
}
#Body_2_A0_Text_12 {
    opacity: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 38px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.17px;
}
#Image_A0_Path_23 {
    opacity: 1;
    fill: url(#Image_A0_Path_24_pattern);
}
.Image_A0_Path_23 {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 93.75px;
}
#Repeat_Grid_1_12 {
    opacity: 1;
    position: absolute;
    width: 150px;
    height: 136.6px;
    left: 4.5px;
    top: 969.5px;
    overflow: visible;
}
#Surface_A0_Rectangle_13 {
    opacity: 1;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
    fill: rgba(255,255,255,1);
}
.Surface_A0_Rectangle_13 {
    position: absolute;
    overflow: visible;
    width: 159px;
    height: 102.75px;
    left: 0px;
    top: 0px;
}
#Body_2_A0_Group_26 {
    opacity: 1;
    position: absolute;
    width: 37px;
    height: 14px;
    left: 19px;
    top: 122.6px;
    overflow: visible;
}
#Body_2_A0_Text_13 {
    opacity: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 38px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.17px;
}
#Image_A0_Path_25 {
    opacity: 1;
    fill: url(#Image_A0_Path_26_pattern);
}
.Image_A0_Path_25 {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 93.75px;
}
#Repeat_Grid_1_13 {
    opacity: 1;
    position: absolute;
    width: 150px;
    height: 136.6px;
    left: 184.5px;
    top: 969.5px;
    overflow: visible;
}
#Surface_A0_Rectangle_14 {
    opacity: 1;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
    fill: rgba(255,255,255,1);
}
.Surface_A0_Rectangle_14 {
    position: absolute;
    overflow: visible;
    width: 159px;
    height: 102.75px;
    left: 0px;
    top: 0px;
}
#Body_2_A0_Group_28 {
    opacity: 1;
    position: absolute;
    width: 37px;
    height: 14px;
    left: 19px;
    top: 122.6px;
    overflow: visible;
}
#Body_2_A0_Text_14 {
    opacity: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 38px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.17px;
}
#Image_A0_Path_27 {
    opacity: 1;
    fill: url(#Image_A0_Path_28_pattern);
}
.Image_A0_Path_27 {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 93.75px;
}
#App_Bar___Top_App_Bar___Regula {
    opacity: 1;
    position: absolute;
    width: 360px;
    height: 62.719px;
    left: 0px;
    top: 24px;
    overflow: visible;
}
#Surface_A0_Path_29 {
    opacity: 1;
    fill: rgba(98,0,238,1);
}
.Surface_A0_Path_29 {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 360px;
    height: 56px;
}
#Icon___Menu___Filled {
    opacity: 1;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 16px;
    top: 16px;
    overflow: visible;
}
#Box {
    opacity: 1;
    fill: transparent;
}
.Box {
    position: absolute;
    overflow: visible;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
}
#Icon___Menu {
    opacity: 1;
    fill: rgba(255,255,255,1);
}
.Icon___Menu {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 6px;
    left: 3px;
    width: 18px;
    height: 12px;
}
#Icon___Search___Filled {
    opacity: 1;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 320px;
    top: 16px;
    overflow: visible;
}
#Box_A0_Rectangle_16 {
    opacity: 1;
    fill: transparent;
}
.Box_A0_Rectangle_16 {
    position: absolute;
    overflow: visible;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
}
#Icon___Search {
    opacity: 1;
    fill: rgba(255,255,255,1);
}
.Icon___Search {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 17.49px;
    height: 17.491px;
}
#Icon___Favorite___Filled {
    opacity: 1;
    transform: rotate(1deg);
    transform-origin: left;
    position: absolute;
    width: 56.413px;
    height: 52.054px;
    left: 63.408px;
    top: 9.689px;
    overflow: visible;
}
#Box_A0_Rectangle_17 {
    opacity: 1;
    fill: transparent;
}
.Box_A0_Rectangle_17 {
    position: absolute;
    overflow: visible;
    width: 57.313px;
    height: 53.03px;
    left: 0px;
    top: 0px;
}
#Icon___Favorite {
    opacity: 1;
    fill: rgba(255,255,255,1);
}
.Icon___Favorite {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 3.034px;
    left: 2.046px;
    width: 53.215px;
    height: 47.312px;
}
#System_Bar___Primary {
    opacity: 1;
    position: absolute;
    width: 360px;
    height: 24px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_373 {
    opacity: 1;
    fill: rgba(126,57,251,1);
}
.Rectangle_373 {
    position: absolute;
    overflow: visible;
    width: 360px;
    height: 24px;
    left: 0px;
    top: 0px;
}
#Icons {
    opacity: 1;
    fill: rgba(227,184,255,1);
}
.Icons {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 7px;
    left: 307px;
    width: 46px;
    height: 10px;
}
#Tab___Scrollable_Tabs___Text_L {
    opacity: 1;
    position: absolute;
    width: 360px;
    height: 69px;
    left: 0px;
    top: 572px;
    overflow: visible;
}
#Surface_A0_Rectangle_19 {
    opacity: 1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
    fill: rgba(98,0,238,1);
}
.Surface_A0_Rectangle_19 {
    position: absolute;
    overflow: visible;
    width: 372px;
    height: 81px;
    left: 0px;
    top: 0px;
}
#Group_6 {
    opacity: 1;
    position: absolute;
    width: 263px;
    height: 56px;
    left: 60px;
    top: 13px;
    overflow: visible;
}
#Scrollable_Tabs {
    opacity: 1;
    position: absolute;
    width: 263px;
    height: 56px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Tab___Elements___Text_Tab___Ac {
    opacity: 1;
    position: absolute;
    width: 128px;
    height: 56px;
    left: 135px;
    top: 0px;
    overflow: visible;
}
#Box_A0_Rectangle_20 {
    opacity: 1;
    fill: transparent;
}
.Box_A0_Rectangle_20 {
    position: absolute;
    overflow: visible;
    width: 120px;
    height: 48px;
    left: 8px;
    top: 0px;
}
#BUTTON {
    opacity: 1;
    position: absolute;
    left: 52px;
    top: 38px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 17px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(149,149,149,1);
    letter-spacing: 0.89px;
}
#Selected {
    opacity: 1;
    fill: rgba(255,255,255,1);
}
.Selected {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 54px;
    left: 0px;
    width: 120px;
    height: 2px;
}
#ic_apps_24px {
    opacity: 1;
    fill: rgba(102,102,102,1);
}
.ic_apps_24px {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 0px;
    left: 48px;
    width: 24px;
    height: 24px;
}
#Tab___Elements___Text_Tab___Ac_A0_Group_38 {
    opacity: 1;
    position: absolute;
    width: 120px;
    height: 56px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Box_A0_Rectangle_21 {
    opacity: 1;
    fill: transparent;
}
.Box_A0_Rectangle_21 {
    position: absolute;
    overflow: visible;
    width: 120px;
    height: 48px;
    left: 0px;
    top: 8px;
}
#BUTTON_A0_Text_16 {
    opacity: 1;
    position: absolute;
    left: 29.869px;
    top: 38px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 36px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(102,102,102,1);
    letter-spacing: 0.89px;
}
#ic_home_24px {
    opacity: 1;
    fill: rgba(102,102,102,1);
}
.ic_home_24px {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 0px;
    left: 31px;
    width: 24px;
    height: 24px;
}