@import '~@angular/material/theming';

@mixin movie-details-component-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, accent);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background); 

    .movie-details {
        .bottom-full-border {
            border-bottom: 0.5px solid map-get($map: $foreground, $key: dividers)
        }
        .description .songsubtitle {
            border-bottom: 0.5px solid map-get($map: $foreground, $key: divider)
        }
        .Headline_6_Class {
            color: map-get($map: $foreground, $key: text)
        }
        .Body_2_A1_Text_17_Class {
            color: map-get($map: $foreground, $key: secondary-text)
        }
        .description .songindex {
            color: map-get($map: $foreground, $key: secondary-text)
        }
    }
    
}

