img.image {
    width: 100%;
}

.description {
    opacity: 1;
    height: 78px;
    top: 0px;
    display: flex;
    flex-direction: row;
}

.bottom-full-border {
    border-bottom: 0.5px solid rgba(102, 102, 102, 0.75);
}

.Avatar_Class {
    opacity: 1;
    fill: url(#Avatar_A1_Ellipse_2_pattern);
}
.Avatar {
    flex-basis: 20%;
    overflow: visible;
    width: 48px;
    height: 48px;
    margin: 0 auto;
    margin-top: 15px !important;
}

.description .subtitle {
    flex: 1 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
}
.description .songsubtitle {
    flex: 1 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 0.5px solid rgba(102, 102, 102, 0.25);
}
.description .songindex {
    line-height: 48px;
    flex-basis: 20%;
    overflow: visible;
    width: 48px;
    height: 48px;
    margin: 0 auto;
    margin-top: 15px !important;
    text-align: center;
}
.description .songsubtitle .Headline_6_Class {
    font-size: 14px;
}
.Divider_A1_Rectangle_26_Class {
    opacity: 0.1;
    fill: rgba(0,0,0,1);
}
.Headline_6_Class {
    opacity: 1;
    /* margin-left: 80px !important; */
    margin-top: 18px !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 192px;
    white-space: nowrap;
    line-height: 18px;
    margin-top: -1px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(102,102,102,1);
    overflow: hidden;
    text-overflow: ellipsis;
}
.Body_2_A1_Text_17_Class {
    opacity: 1;
    width: 237px;
    height: 14px;
    /* margin-left: 80px !important; */
    margin-top: 7px !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.17px;
    overflow: hidden;
    text-overflow: ellipsis;
}