@import '~@angular/material/theming';

@mixin movie-details-component-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, accent);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background); 

    .movie-details {
        .bottom-full-border {
            border-bottom: 0.5px solid map-get($map: $foreground, $key: dividers)
        }
        .description .songsubtitle {
            border-bottom: 0.5px solid map-get($map: $foreground, $key: divider)
        }
        .Headline_6_Class {
            color: map-get($map: $foreground, $key: text)
        }
        .Body_2_A1_Text_17_Class {
            color: map-get($map: $foreground, $key: secondary-text)
        }
        .description .songindex {
            color: map-get($map: $foreground, $key: secondary-text)
        }
    }
    
}

.movie-details {
    img.image {
        width: 100%;
    }
    
    .description {
        opacity: 1;
        height: 78px;
        top: 0px;
        display: flex;
        flex-direction: row;
    }
    
    .bottom-full-border {
        border-bottom: 0.5px solid rgba(102, 102, 102, 0.75);
    }
    
    .description .subtitle {
        flex: 1 0 auto;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .description .songsubtitle {
        flex: 1 0 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        border-bottom: 0.5px solid rgba(102, 102, 102, 0.25);
    }
    .description .songindex {
        line-height: 48px;
        flex-basis: 20%;
        overflow: visible;
        width: 48px;
        height: 48px;
        margin: 0 auto;
        margin-top: 15px !important;
        text-align: center;
    }
    .description .songsubtitle .Headline_6_Class {
        font-size: 14px;
    }
    .Headline_6_Class {
        opacity: 1;
        margin-top: 18px !important;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 192px;
        white-space: nowrap;
        line-height: 18px;
        margin-top: -1px;
        text-align: left;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: rgba(102,102,102,1);
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .Body_2_A1_Text_17_Class {
        opacity: 1;
        width: 237px;
        height: 14px;
        margin-top: 7px !important;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        text-align: left;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: rgba(0,0,0,0.6);
        letter-spacing: 0.17px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

