<div class="movie-details">
	<div  ngClass.gt-xs="automargin mat-elevation-z6" fxLayout.xs="column" fxLayout.gt-xs="row">
		<div class="imageholder" ngClass.gt-xs="alignleft" *ngIf="movie">
			<img class="image" src="{{movie?.imageUrl}}" alt="{{movie?.title}}">
		</div>
		<div ngClass.gt-xs="alignright">
			<div class="description bottom-full-border">
				<div class="Avatar">
			
				</div>
				<div class="subtitle">
					<h1 class="Headline_6_Class">
						<span>{{movie?.title}}</span>
					</h1>
					<h2 class="Body_2_A1_Text_17_Class">
						<span>{{movie?.releaseDate?.toDate()?.getFullYear()}} - {{movie?.artists?.join(', ')}}</span>
					</h2>
				</div>
			</div>
			<div *ngIf="songs" ngClass.gt-xs="scroll">
				<a class="description bottom-half-border" *ngFor="let song of songs; let i=index" matRipple routerLink="/movies/{{routeParams.movieName}}/lyrics/{{song.id}}"> 
					<div class="songindex">
						{{i+1}}
					</div>
					<div class="songsubtitle">
						<div class="Headline_6_Class">{{song?.title}}</div>
						<div class="Body_2_A1_Text_17_Class">
							<span class="singerarray">{{song?.singers?.join(', ')}}</span><span> | {{song?.duration}}</span>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
