/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
}
:root {
    --web-view-ids: SongList;
}
#SongList * {
    margin: 0;
    padding: 0;
}
.SongList_Class {
    position: absolute;
    box-sizing: border-box;
    background: #E5E5E5;
    width: 100%;
    height: 860px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    margin: 0;
    padding: 0;
    opacity: 1;
    --web-view-name: SongList;
    --web-view-id: SongList;
    --web-enable-deep-linking: true;
}
.Navigation_Drawer___Bottom___R_Class {
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 856px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Navigation_Drawer___Bottom___R_A0_Group_2_Class {
    opacity: 1;
    position: absolute;
    width: 360px;
    height: 856px;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    overflow: visible;
}
.Surface_Class {
    opacity: 0.35;
    fill: rgba(0,0,0,1);
}
.Surface {
    position: absolute;
    overflow: visible;
    width: 360px;
    height: 640px;
    left: 0px;
    top: 0px;
}
.Surface_A0_Rectangle_2_Class {
    opacity: 1;
    filter: drop-shadow(0px 16px 24px rgba(0, 0, 0, 0.2));
    fill: rgba(255,255,255,1);
}
.Surface_A0_Rectangle_2 {
    position: absolute;
    overflow: visible;
    width: 432px;
    height: 608px;
    left: 0px;
    top: 320px;
}
.Image_Class {
    opacity: 1;
    filter: blur(0px);
    fill: url(#assets/Image_A0_Rectangle_4_pattern);
}
.Image {
    position: absolute;
    overflow: visible;
    width: 360px;
    height: 320px;
    left: 0px;
    top: 0px;
}
.Group_5_Class {
    opacity: 1;
    position: absolute;
    width: 360px;
    height: 519px;
    left: 0px;
    top: 320px;
    overflow: visible;
}
.Navigation_Drawer___Elements___Class {
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 435px;
    left: 50%;
    transform: translateX(-50%);
    top: 84px;
    overflow: hidden;
}
.Navigation_Drawer___Elements___A0_Group_4_Class {
    opacity: 1;
    position: relative;
    width: 360px;
    height: 72px;
    left: 0px;
    top: 0px;
    /* overflow: visible; */
}
.List___Two_Line___Image_11_Class {
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 72px;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    overflow: visible;
}
.Box_Class {
    opacity: 1;
    fill: transparent;
}
.Box {
    position: absolute;
    overflow: visible;
    width: 360px;
    height: 72px;
    left: 0px;
    top: 0px;
}
.Divider_Class {
    opacity: 1;
    fill: rgba(227,227,227,1);
}
.Divider {
    position: absolute;
    overflow: visible;
    width: 272px;
    height: 1px;
    left: 88px;
    top: 71px;
}
.Cards___Elements___Media___1_1_Class {
    opacity: 1;
    position: absolute;
    width: 72px;
    height: 72px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Box_A0_Rectangle_7_Class {
    opacity: 1;
    fill: transparent;
}
.Box_A0_Rectangle_7 {
    position: absolute;
    overflow: visible;
    width: 72px;
    height: 72px;
    left: 0px;
    top: 0px;
}
.Icon___Favorite___Filled_Class {
    opacity: 0.5;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 320px;
    top: 24px;
    overflow: visible;
}
.Box_A0_Rectangle_8_Class {
    opacity: 1;
    fill: transparent;
}
.Box_A0_Rectangle_8 {
    position: absolute;
    overflow: visible;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
}
.Path_407_Class {
    opacity: 1;
    fill: rgba(0,0,0,1);
}
.Path_407 {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 3px;
    left: 2px;
    width: 20px;
    height: 18.35px;
}
.Subtitle_1_Class {
    opacity: 1;
    position: absolute;
    left: 72px;
    top: 19px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 170px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0,0,0,0.6);
}
.Body_2_Class {
    opacity: 1;
    position: absolute;
    left: 71.977px;
    top: 42px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 198px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.17px;
}
.ID1_Class {
    opacity: 1;
    position: absolute;
    left: 36px;
    top: 25px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 10px;
    white-space: nowrap;
    line-height: 18px;
    margin-top: -1px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(102,102,102,1);
}
.Navigation_Drawer___Elements___A0_Group_8_Class {
    opacity: 1;
    position: absolute;
    width: 360px;
    height: 72px;
    left: 0px;
    top: 92px;
    overflow: visible;
}
.List___Two_Line___Image_11_A0_Group_9_Class {
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 72px;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    overflow: visible;
}
.Box_A0_Rectangle_9_Class {
    opacity: 1;
    fill: transparent;
}
.Box_A0_Rectangle_9 {
    position: absolute;
    overflow: visible;
    width: 360px;
    height: 72px;
    left: 0px;
    top: 0px;
}
.Divider_A0_Rectangle_10_Class {
    opacity: 1;
    fill: rgba(227,227,227,1);
}
.Divider_A0_Rectangle_10 {
    position: absolute;
    overflow: visible;
    width: 272px;
    height: 1px;
    left: 88px;
    top: 71px;
}
.Cards___Elements___Media___1_1_A0_Group_10_Class {
    opacity: 1;
    position: absolute;
    width: 72px;
    height: 72px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Box_A0_Rectangle_11_Class {
    opacity: 1;
    fill: transparent;
}
.Box_A0_Rectangle_11 {
    position: absolute;
    overflow: visible;
    width: 72px;
    height: 72px;
    left: 0px;
    top: 0px;
}
.Icon___Favorite___Filled_A0_Group_11_Class {
    opacity: 0.5;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 320px;
    top: 24px;
    overflow: visible;
}
.Box_A0_Rectangle_12_Class {
    opacity: 1;
    fill: transparent;
}
.Box_A0_Rectangle_12 {
    position: absolute;
    overflow: visible;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
}
.Path_407_A0_Path_2_Class {
    opacity: 1;
    fill: rgba(0,0,0,1);
}
.Path_407_A0_Path_2 {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 3px;
    left: 2px;
    width: 20px;
    height: 18.35px;
}
.Subtitle_1_A0_Text_4_Class {
    opacity: 1;
    position: absolute;
    left: 72px;
    top: 19px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 170px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0,0,0,0.6);
}
.Body_2_A0_Text_5_Class {
    opacity: 1;
    position: absolute;
    left: 71.977px;
    top: 42px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 198px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.17px;
}
.ID1_A0_Text_6_Class {
    opacity: 1;
    position: absolute;
    left: 36px;
    top: 25px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 10px;
    white-space: nowrap;
    line-height: 18px;
    margin-top: -1px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(102,102,102,1);
}
.Navigation_Drawer___Elements___A0_Group_12_Class {
    opacity: 1;
    position: absolute;
    width: 360px;
    height: 72px;
    left: 0px;
    top: 184px;
    overflow: visible;
}
.List___Two_Line___Image_11_A0_Group_13_Class {
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 72px;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    overflow: visible;
}
.Box_A0_Rectangle_13_Class {
    opacity: 1;
    fill: transparent;
}
.Box_A0_Rectangle_13 {
    position: absolute;
    overflow: visible;
    width: 360px;
    height: 72px;
    left: 0px;
    top: 0px;
}
.Divider_A0_Rectangle_14_Class {
    opacity: 1;
    fill: rgba(227,227,227,1);
}
.Divider_A0_Rectangle_14 {
    position: absolute;
    overflow: visible;
    width: 272px;
    height: 1px;
    left: 88px;
    top: 71px;
}
.Cards___Elements___Media___1_1_A0_Group_14_Class {
    opacity: 1;
    position: absolute;
    width: 72px;
    height: 72px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Box_A0_Rectangle_15_Class {
    opacity: 1;
    fill: transparent;
}
.Box_A0_Rectangle_15 {
    position: absolute;
    overflow: visible;
    width: 72px;
    height: 72px;
    left: 0px;
    top: 0px;
}
.Icon___Favorite___Filled_A0_Group_15_Class {
    opacity: 0.5;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 320px;
    top: 24px;
    overflow: visible;
}
.Box_A0_Rectangle_16_Class {
    opacity: 1;
    fill: transparent;
}
.Box_A0_Rectangle_16 {
    position: absolute;
    overflow: visible;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
}
.Path_407_A0_Path_3_Class {
    opacity: 1;
    fill: rgba(0,0,0,1);
}
.Path_407_A0_Path_3 {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 3px;
    left: 2px;
    width: 20px;
    height: 18.35px;
}
.Subtitle_1_A0_Text_7_Class {
    opacity: 1;
    position: absolute;
    left: 72px;
    top: 19px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 170px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0,0,0,0.6);
}
.Body_2_A0_Text_8_Class {
    opacity: 1;
    position: absolute;
    left: 71.977px;
    top: 42px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 198px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.17px;
}
.ID1_A0_Text_9_Class {
    opacity: 1;
    position: absolute;
    left: 36px;
    top: 25px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 10px;
    white-space: nowrap;
    line-height: 18px;
    margin-top: -1px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(102,102,102,1);
}
.Navigation_Drawer___Elements___A0_Group_16_Class {
    opacity: 1;
    position: absolute;
    width: 360px;
    height: 72px;
    left: 0px;
    top: 276px;
    overflow: visible;
}
.List___Two_Line___Image_11_A0_Group_17_Class {
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 72px;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    overflow: visible;
}
.Box_A0_Rectangle_17_Class {
    opacity: 1;
    fill: transparent;
}
.Box_A0_Rectangle_17 {
    position: absolute;
    overflow: visible;
    width: 360px;
    height: 72px;
    left: 0px;
    top: 0px;
}
.Divider_A0_Rectangle_18_Class {
    opacity: 1;
    fill: rgba(227,227,227,1);
}
.Divider_A0_Rectangle_18 {
    position: absolute;
    overflow: visible;
    width: 272px;
    height: 1px;
    left: 88px;
    top: 71px;
}
.Cards___Elements___Media___1_1_A0_Group_18_Class {
    opacity: 1;
    position: absolute;
    width: 72px;
    height: 72px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Box_A0_Rectangle_19_Class {
    opacity: 1;
    fill: transparent;
}
.Box_A0_Rectangle_19 {
    position: absolute;
    overflow: visible;
    width: 72px;
    height: 72px;
    left: 0px;
    top: 0px;
}
.Icon___Favorite___Filled_A0_Group_19_Class {
    opacity: 0.5;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 320px;
    top: 24px;
    overflow: visible;
}
.Box_A0_Rectangle_20_Class {
    opacity: 1;
    fill: transparent;
}
.Box_A0_Rectangle_20 {
    position: absolute;
    overflow: visible;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
}
.Path_407_A0_Path_4_Class {
    opacity: 1;
    fill: rgba(0,0,0,1);
}
.Path_407_A0_Path_4 {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 3px;
    left: 2px;
    width: 20px;
    height: 18.35px;
}
.Subtitle_1_A0_Text_10_Class {
    opacity: 1;
    position: absolute;
    left: 72px;
    top: 19px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 170px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0,0,0,0.6);
}
.Body_2_A0_Text_11_Class {
    opacity: 1;
    position: absolute;
    left: 71.977px;
    top: 42px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 198px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.17px;
}
.ID1_A0_Text_12_Class {
    opacity: 1;
    position: absolute;
    left: 36px;
    top: 25px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 10px;
    white-space: nowrap;
    line-height: 18px;
    margin-top: -1px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(102,102,102,1);
}
.Navigation_Drawer___Elements___A0_Group_20_Class {
    opacity: 1;
    position: absolute;
    width: 360px;
    height: 72px;
    left: 0px;
    top: 368px;
    overflow: visible;
}
.List___Two_Line___Image_11_A0_Group_21_Class {
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 72px;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    overflow: visible;
}
.Box_A0_Rectangle_21_Class {
    opacity: 1;
    fill: transparent;
}
.Box_A0_Rectangle_21 {
    position: absolute;
    overflow: visible;
    width: 360px;
    height: 72px;
    left: 0px;
    top: 0px;
}
.Divider_A0_Rectangle_22_Class {
    opacity: 1;
    fill: rgba(227,227,227,1);
}
.Divider_A0_Rectangle_22 {
    position: absolute;
    overflow: visible;
    width: 272px;
    height: 1px;
    left: 88px;
    top: 71px;
}
.Cards___Elements___Media___1_1_A0_Group_22_Class {
    opacity: 1;
    position: absolute;
    width: 72px;
    height: 72px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Box_A0_Rectangle_23_Class {
    opacity: 1;
    fill: transparent;
}
.Box_A0_Rectangle_23 {
    position: absolute;
    overflow: visible;
    width: 72px;
    height: 72px;
    left: 0px;
    top: 0px;
}
.Icon___Favorite___Filled_A0_Group_23_Class {
    opacity: 0.5;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 320px;
    top: 24px;
    overflow: visible;
}
.Box_A0_Rectangle_24_Class {
    opacity: 1;
    fill: transparent;
}
.Box_A0_Rectangle_24 {
    position: absolute;
    overflow: visible;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
}
.Path_407_A0_Path_5_Class {
    opacity: 1;
    fill: rgba(0,0,0,1);
}
.Path_407_A0_Path_5 {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 3px;
    left: 2px;
    width: 20px;
    height: 18.35px;
}
.Subtitle_1_A0_Text_13_Class {
    opacity: 1;
    position: absolute;
    left: 72px;
    top: 19px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 170px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0,0,0,0.6);
}
.Body_2_A0_Text_14_Class {
    opacity: 1;
    position: absolute;
    left: 71.977px;
    top: 42px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 198px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.17px;
}
.ID1_A0_Text_15_Class {
    opacity: 1;
    position: absolute;
    left: 36px;
    top: 25px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 10px;
    white-space: nowrap;
    line-height: 18px;
    margin-top: -1px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(102,102,102,1);
}
.Navigation_Drawer___Elements___A0_Group_24_Class {
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 78px;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    overflow: visible;
}
.Box_A0_Rectangle_25_Class {
    opacity: 1;
    fill: rgba(255,255,255,1);
}
.Box_A0_Rectangle_25 {
    position: absolute;
    overflow: visible;
    width: 360px;
    height: 77px;
    left: 0px;
    top: 0px;
}
.Avatar_Class {
    opacity: 1;
    fill: url(#assets/Avatar_A0_Ellipse_2_pattern);
}
.Avatar {
    position: absolute;
    overflow: visible;
    width: 48px;
    height: 48px;
    left: 16px;
    top: 15px;
}
.Divider_A0_Rectangle_26_Class {
    opacity: 0.1;
    fill: rgba(0,0,0,1);
}
.Divider_A0_Rectangle_26 {
    position: absolute;
    overflow: visible;
    width: 360px;
    height: 1px;
    left: 0px;
    top: 77px;
}
.Headline_6_Class {
    opacity: 1;
    position: absolute;
    left: 80px;
    top: 18px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 192px;
    white-space: nowrap;
    line-height: 18px;
    margin-top: -1px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(102,102,102,1);
}
.Body_2_A0_Group_25_Class {
    opacity: 1;
    position: absolute;
    width: 237px;
    height: 14px;
    left: 80px;
    top: 44px;
    overflow: visible;
}
.Body_2_A0_Text_17_Class {
    opacity: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 238px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.17px;
}
.System_Bar___Primary_Class {
    opacity: 1;
    position: absolute;
    width: 360px;
    height: 24px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Rectangle_373_Class {
    opacity: 1;
    fill: transparent;
}
.Rectangle_373 {
    position: absolute;
    overflow: visible;
    width: 360px;
    height: 24px;
    left: 0px;
    top: 0px;
}
.Icons_Class {
    opacity: 1;
    fill: rgba(126,126,126,1);
}
.Icons {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 7px;
    left: 307px;
    width: 46px;
    height: 10px;
}
.ic_arrow_back_24px_Class {
    opacity: 1;
    fill: rgba(102,102,102,1);
}
.ic_arrow_back_24px {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 39px;
    left: 32px;
    width: 16px;
    height: 16px;
}
.Icon___Search___Filled_Class {
    opacity: 1;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 320px;
    top: 40px;
    overflow: visible;
}
.Box_A0_Rectangle_28_Class {
    opacity: 1;
    fill: transparent;
}
.Box_A0_Rectangle_28 {
    position: absolute;
    overflow: visible;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
}
.Icon___Search_Class {
    opacity: 1;
    fill: rgba(102,102,102,1);
}
.Icon___Search {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 17.49px;
    height: 17.491px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
